<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazona</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Amazona</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Signin</a>
        </div>
      </header>

      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size 680px by 830px -->
              <img
                class="medium"
                style="width: 280px; height: 300px"
                src="./images/p1.jpg"
                alt="Product-shirt"
            /></a>
            <div class="card-body">
              <a href="product.html">
                <h1>Arrow Slim Shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
              <div class="price"><strong>Rs.800</strong></div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size 680px by 830px -->
              <img
                class="medium"
                style="width: 300px; height: 400px"
                src="./images/p1.jpg"
                alt="Product-shirt"
            /></a>
            <div class="card-body">
              <a href="product.html">
                <h1>Arrow Slim Shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price"><strong>Rs.800</strong></div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size 680px by 830px -->
              <img
                class="medium"
                style="width: 300px; height: 400px"
                src="./images/p1.jpg"
                alt="Product-shirt"
            /></a>
            <div class="card-body">
              <a href="product.html">
                <h1>Arrow Slim Shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price"><strong>Rs.800</strong></div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size 680px by 830px -->
              <img
                class="medium"
                style="width: 300px; height: 400px"
                src="./images/p1.jpg"
                alt="Product-shirt"
            /></a>
            <div class="card-body">
              <a href="product.html">
                <h1>Arrow Slim Shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price"><strong>Rs.800</strong></div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size 680px by 830px -->
              <img
                class="medium"
                src="./images/p1.jpg"
                alt="Product-shirt"
                style="width: 300; height: 400px"
            /></a>
            <div class="card-body">
              <a href="product.html">
                <h1>Arrow Slim Shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price"><strong>Rs.800</strong></div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reseerved by myself</footer>
    </div>
  </body>
</html>
